.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
*.bk
config/database.yml
dump.rdb
Gemfile.lock
config/torquebox.rb
config/torquebox.yml
config/infofree.yml
.directory
.rvmrc
.ruby-version
.ruby-gemset
/doc/*.sh
/db/structure.sql
/config/initializers/email_settings.rb
/spec/helpers
/config/env_variables.rb
