<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Report</p>
<p>The count of the contacts based on Zipcodes is as follows</p>
<table border="1">
  <tr>
    <th>Zipcode</th>
    <th>Count</th>
  </tr>
  <%@report.each do |zip,count|%>
      <tr>
        <td><%= "#{zip}" %></td>
        <td><%= "#{count}"%></td>
      </tr>
  <% end %>
</table>
<p>
</p>
</body>
</html>