ActionMailer::Base.smtp_settings = {
    :address        => "smtp.gmail.com",
    :port           => "587",
    :authentication => :plain ,
    :user_name      => "xyz@gmail.com",
    :password       => "abc",
    :domain         => "prgi.com",
}